body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.date-time-picker {
    color: black !important;
}

.head-nav {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: left;
}

.custom-data-filter {
    margin-left: 25px;
    font-weight: 500;
}

.custom-data-filter span {
    padding-left: 4px;
    padding-right: 4px;
    color: blue;
}

.custom-data-filter button {
    margin-left: 10px;
    color: blue;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}


/*ul.header {
    text-align: left;
    background-color: rgb(43, 40, 40);
    padding: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}*/

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #111;
    padding: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}